#center1 {
    text-align: center;
}
#center2 {
    text-align: center;
}
#center3 {
    text-align: center;
}
#center4 {
    text-align: center;
}
#launchButton {
    text-align: center;
}
#fabricbtn {
    text-align: center;
}
#forgebtn {
    text-align: center;
}
#quiltbtn {
    text-align: center;
}
#custombtn {
    text-align: center;
}
#gobackbtn {
    text-align: center;
}
body {
    background:black;
    color: white;
}